In [2]:
import numpy as np
import math
import pandas as pd
#from tqdm import tqdm

In [3]:
def GPS2CartesianCoordinate(lati, long, radius):
    rad_lati = math.radians(lati)
    rad_long = math.radians(long)
    x = radius * math.cos(rad_lati) * math.cos(rad_long)
    y = radius * math.cos(rad_lati) * math.sin(rad_long)
    z = radius * math.sin(rad_lati)
    return x, y, z

def ArcDistance(p1, p2, radius):
    psi = np.arccos(p1.dot(p2.T)/(radius*radius))
    return psi * radius

In [4]:
earth_radius = 6371.0
def dist(lat1, lon1, lat2, lon2):
    # GPS coordinate

    # 토트넘 스타디움 : 51.60440517547472, -0.06560569079349023
    # 레알마드리드 스타디움 : 40.459278005696014, -3.694492799000267
    x1, y1, z1 = GPS2CartesianCoordinate(lat1, lon1, earth_radius)
    x2, y2, z2 = GPS2CartesianCoordinate(lat2, lon2, earth_radius)

    p1 = np.array([x1, y1, z1])
    p2 = np.array([x2, y2, z2])

    # Arc distance between Boston and New York
    return ArcDistance(p1, p2, earth_radius)

In [8]:
df1 = pd.read_csv('./data/final_seoul.csv')
df2 = pd.read_csv('./data/final_result.csv')

In [52]:
df1[df1['loc'] =='서울특별시 관악구 봉천동 874-22']

,loc,area,m_rental,y_price,m_price,floor,year,rowhouse,bank_d,bank_c,...,rpark_c,sch_d,sch_c,star_d,star_c,sub_d,sub_c,alti,dong,price
134758,서울특별시 관악구 봉천동 874-22,0.087828,1,10000.0,22.0,5,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,15500.0
134759,서울특별시 관악구 봉천동 874-22,0.087828,1,7000.0,28.0,3,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,14000.0
134760,서울특별시 관악구 봉천동 874-22,0.065340,1,6000.0,26.0,7,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,12500.0
134761,서울특별시 관악구 봉천동 874-22,0.054395,1,5000.0,28.0,3,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,12000.0
134762,서울특별시 관악구 봉천동 874-22,0.054395,1,5000.0,26.0,6,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,11500.0
134763,서울특별시 관악구 봉천동 874-22,0.087828,1,10000.0,20.0,4,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,15000.0
134764,서울특별시 관악구 봉천동 874-22,0.087828,1,9000.0,27.0,3,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,15750.0
134765,서울특별시 관악구 봉천동 874-22,0.087828,1,10000.0,22.0,8,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,15500.0
134766,서울특별시 관악구 봉천동 874-22,0.054395,1,5000.0,28.0,8,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,12000.0
134767,서울특별시 관악구 봉천동 874-22,0.054395,1,2000.0,40.0,10,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,12000.0
134768,서울특별시 관악구 봉천동 874-22,0.054395,1,6000.0,22.0,2,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,11500.0
134769,서울특별시 관악구 봉천동 874-22,0.091476,1,10000.0,22.0,7,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,15500.0
134770,서울특별시 관악구 봉천동 874-22,0.065340,1,5000.0,27.0,9,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,11750.0
134771,서울특별시 관악구 봉천동 874-22,0.065340,1,5000.0,30.0,3,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,12500.0
134772,서울특별시 관악구 봉천동 874-22,0.065340,1,4000.0,34.0,2,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,12500.0
134773,서울특별시 관악구 봉천동 874-22,0.054395,1,5000.0,24.0,4,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,11000.0
134774,서울특별시 관악구 봉천동 874-22,0.087828,1,12000.0,13.0,4,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,15250.0
134775,서울특별시 관악구 봉천동 874-22,0.087828,1,9000.0,27.0,3,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,15750.0
134776,서울특별시 관악구 봉천동 874-22,0.087828,1,10000.0,24.0,10,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,16000.0
134777,서울특별시 관악구 봉천동 874-22,0.054395,1,5000.0,30.0,5,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,12500.0
134778,서울특별시 관악구 봉천동 874-22,0.087828,1,10000.0,24.0,2,0.712121,1,0.944848,1.0,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,16000.0

In [66]:
#1. 서울특별시 관악구 봉천동 863-6   134755
# 37.47990040030587,126.95141510161717
#2. 서울특별시 관악구 봉천동 866-2   26739
# 37.479760009247585,126.95118097798131
#3. 서울특별시 관악구 신림동 1568-14   30390
# 37.480151885257534,126.91572977561445
#4. 서울특별시 관악구 신림동 98-243   30273
# 37.47504900702551,126.94077140559126
#5. 서울특별시 관악구 봉천동 874-22   134758
# 37.48235670207842,126.94990377935943

In [55]:
score_data = df1.iloc[[134757,26739,30390,30273,134758]]
real_data = df2.iloc[[134757,26739,30390,30273,134758]]

In [68]:
real_data.to_csv('./real_data.csv',index=False)
real_data

,Unnamed: 0,loc,area,m_rental,y_price,m_price,floor,year,rowhouse,bank_d,...,rpark_d,rpark_c,sch_d,sch_c,star_d,star_c,sub_d,sub_c,price,predict_price
134757,134757,서울특별시 관악구 봉천동 863-6,19.00,1,5000.0,32.0,11,2003.0,1,89,...,10000,0,430,2,101,3,199,1,13000.0,12511.983047
26739,26739,서울특별시 관악구 봉천동 866-2,17.03,0,21000.0,0.0,13,2019.0,0,78,...,10000,0,467,2,129,3,178,1,21000.0,19582.432185
30390,30390,서울특별시 관악구 신림동 1568-14,28.99,0,23000.0,0.0,6,2016.0,0,132,...,10000,0,191,5,630,0,875,0,23000.0,22090.659570
30273,30273,서울특별시 관악구 신림동 98-243,24.16,0,26000.0,0.0,4,2019.0,0,246,...,10000,0,315,2,757,0,725,0,26000.0,23005.730903
134758,134758,서울특별시 관악구 봉천동 874-22,29.88,1,10000.0,22.0,5,2003.0,1,38,...,10000,0,376,1,143,3,239,1,15500.0,16738.322131

In [69]:
score_data.to_csv('./score_data.csv',index=False)
score_data

,loc,area,m_rental,y_price,m_price,floor,year,rowhouse,bank_d,bank_c,...,rpark_c,sch_d,sch_c,star_d,star_c,sub_d,sub_c,alti,dong,price
134757,서울특별시 관악구 봉천동 863-6,0.051741,1,5000.0,32.0,11,0.712121,1,0.870827,1.000000,...,0.0,0.572464,0.166667,0.899,0.2,0.819672,0.166667,0.036398,봉천동,13000.0
26739,서울특별시 관악구 봉천동 866-2,0.045207,0,21000.0,0.0,13,0.954545,0,0.886792,1.000000,...,0.0,0.534161,0.166667,0.871,0.2,0.841189,0.166667,0.037336,봉천동,21000.0
30390,서울특별시 관악구 신림동 1568-14,0.084876,0,23000.0,0.0,6,0.909091,0,0.808418,0.800000,...,0.0,0.819876,0.416667,0.370,0.0,0.127049,0.000000,0.139400,신림동,23000.0
30273,서울특별시 관악구 신림동 98-243,0.068856,0,26000.0,0.0,4,0.954545,0,0.642961,0.533333,...,0.0,0.691511,0.166667,0.243,0.0,0.280738,0.000000,0.176735,신림동,26000.0
134758,서울특별시 관악구 봉천동 874-22,0.087828,1,10000.0,22.0,5,0.712121,1,0.944848,1.000000,...,0.0,0.628364,0.083333,0.857,0.2,0.778689,0.166667,0.012289,봉천동,15500.0

In [64]:
#1. 서울특별시 관악구 봉천동 863-6   134755
# 37.47990040030587,126.95141510161717
#2. 서울특별시 관악구 봉천동 866-2   26739
# 37.479760009247585,126.95118097798131
#3. 서울특별시 관악구 신림동 1568-14   30390
# 37.480151885257534,126.91572977561445
#4. 서울특별시 관악구 신림동 98-243   30273
# 37.47504900702551,126.94077140559126
#5. 서울특별시 관악구 봉천동 874-22   134758
# 37.48235670207842,126.94990377935943
loc = real_data['loc']
lat = [37.47990040030587,37.479760009247585, 37.480151885257534,37.47504900702551,37.48235670207842]
lon = [126.95141510161717,126.95118097798131,126.91572977561445,126.94077140559126,126.94990377935943]

shuttle_s = [37.479965,126.952380]
shuttle_n = [37.470501, 126.940846]
bus_station1 = [37.484776, 126.955260]
bus_station2 = [37.482611, 126.953422]
bus_station3 = [37.480798, 126.952508]
bus_station4 = [37.475401, 126.952604]

In [71]:
# 각 집에서 
list1 = []
for i in range(5):
    list1.append(dist(lat[i], lon[i], shuttle_s[0], shuttle_s[1]))
    print(dist(lat[i], lon[i], shuttle_s[0], shuttle_s[1]))

0.08544561823705092
0.10822990378991448
3.2340979642332837
1.161105979998675
0.34419303875912727

In [72]:
# 각 집에서 
list2 = []
for i in range(5):
    list2.append(dist(lat[i], lon[i], shuttle_n[0], shuttle_n[1]))
    print(dist(lat[i], lon[i], shuttle_n[0], shuttle_n[1]))

1.400809771285103
1.3754159486112751
2.4625321936899423
0.5057581482735464
1.5416812490840723

In [73]:
# 각 집에서 
list3 = []
for i in range(5):
    a = min(dist(lat[i], lon[i], bus_station1[0], bus_station1[1]), 
           dist(lat[i], lon[i], bus_station2[0], bus_station2[1]), 
           dist(lat[i], lon[i], bus_station3[0], bus_station3[1]) , 
           dist(lat[i], lon[i], bus_station4[0], bus_station4[1]))
    list3.append(a)
    print(a)

0.13878728848864394
0.16441782285931167
3.2461030349911515
1.0449139393784557
0.2878271654626834

In [74]:
snu_data = pd.DataFrame({'lat' : lat, 'lon' : lon, 'shuttle_s' : list1, 'shuttle_n' : list2, 'bus' : list3})

In [75]:
snu_data

         lat         lon  shuttle_s  shuttle_n       bus
0  37.479900  126.951415   0.085446   1.400810  0.138787
1  37.479760  126.951181   0.108230   1.375416  0.164418
2  37.480152  126.915730   3.234098   2.462532  3.246103
3  37.475049  126.940771   1.161106   0.505758  1.044914
4  37.482357  126.949904   0.344193   1.541681  0.287827

In [76]:
snu_data.to_csv('./snu_data.csv', index=False)